h1 {
    text-align: center
  }
  
  p {
    text-align: right
  }
  
  body {
    background-color: #888;
  }
  
  table {
    margin: auto;
    background-color: #222;
    width: 295px;
    max-width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
    padding-right: 10px;
  }
  
  input {
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    margin-bottom: 15px;
  }
  
  input:hover {
    border: 0 solid #000;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px #f5fa69;
  }
  
  input:active {
    top: 4px;
    border: 0 solid #000;
    color: #495069;
    background-color: #f5fa69;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: none;
  }
  
  #display {
    width: 265px;
    max-width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #91969c;
    float: left;
  }
  
  #display:hover {
    width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #8f8d86;
    box-shadow: 0 4px rgba(0,0,0,0.2);
  }
  
  #display:active {
    top: 5px;
    width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #f0f0f0;
    box-shadow: 0 4px rgba(0,0,0,0.2);
  }
  
  .operator {
    background-color: #e6d68e;
    position: relative;
  }
  
  .operator:hover {
    background-color: #e6d68e;
    box-shadow: 0 4px #b5a769;
  }
  
  .operator:active {
    top: 4px;
    background-color: #b5a769;
    box-shadow: none;
  }
  
  #clear {
    float: left;
    position: relative;
    display: block;
    background-color: #82ed5f;
  }
  
  #clear:hover {
    float: left;
    display: block;
    background-color: #82ed5f;
    margin-bottom: 15px;
    box-shadow: 0 4px #66cf44;
  }
  
  #clear:active {
    float: left;
    top: 4px;
    display: block;
    background-color: #66cf44;
    margin-bottom: 15px;
    box-shadow: none;
  }