/*************************
   Color Pallete
    #6a859b gray
    #020230 blue

*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #020230;
    color: #fff;
    font-family: "Fira Code", monospace;
    font-weight: 300;
}



/*************************
    Heading Section
*************************/

.nav {
    position: fixed;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(106, 133, 155,.01);
    width: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.nav a{
    text-decoration: none;
    color: #020230;
    padding: 3rem;;
    
}
.nav a:hover{
    color: #6a859b;
    
}
.nav a:visited{
    color: #020230;
    text-decoration: none;
}
.nav a:visited:hover{
    color: #6a859b;
}
#navButtonBlog:hover{
    color:#6a859b;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    background-color: #6a859b;
    color: #020230;
    padding: .5rem;
    border: 2px black solid;
    border-radius: 5%;
    box-shadow: rgb(0,0,0) 1px 1px 15px 1px;
    width: 155px;
    text-align: center;
    transition: 0.2s;
    font-weight: 400;
}
.nav ul li:hover {
    background-color: #020230;
    color: #6a859b;
    padding: 0;
    /* transform-origin: 300% -20%;
        transform: rotate(-.5deg); */
    cursor: pointer;
    border: solid #fff 2px;
    box-shadow: rgb(20, 20, 20) 3px 0px 5px 2px;
}
.nav ul li:active{
    box-shadow: none;
    transform: scale(.90);
    background-color: #6a859b;
    color: #020230;
    border: solid #01011a 2px;
}

.profileHeading {
    margin-top: 10vh;
    display: block;
}
.titleHeader {
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    box-shadow: #01011a 10px 5px 5px;
    font-size: 60px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #6a859b;
    width: 100%;
    z-index: -1;
  
    
}
.tagline {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 80px;
    font-size: 30px;
}
.ProfTitle{
    width: 100%;
}
.Motto{
    width: 100%;
}
.pictureContainer {
    display:flex;
    justify-content: center;
    margin-top: -290px;
    margin-left: 25px;
    background-color: #6a859b;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651);
    transition: .8s;
}

.pictureContainer:hover{
    box-shadow: none;
    transform: scale(.97);
    border: #000 1px solid;
}
.profilePicture {
    align-self: center;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    /*  border: #000 2px solid; */
    box-shadow: rgb(44, 44, 44) 2px 2px 2px 2px;
    transition: .8s;
}
.profilePicture:hover{
    box-shadow: none;
    transform: scale(.97);
    border: #000 1px solid;
}

.logo{
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
    text-shadow: #fff 1px 1px 4px;
    display: none;
}

.color {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

/*************************
   ! About Section
*************************/

.about {
    color: #fff;
    background-color: #020230;
}

.aHeader {
    margin-top: 30vh;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 60px;
    background-color: #6a859b;
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    padding: 15px;
    width: 100%;
    box-shadow: #000 10px 5px 5px;
    
}
.aboutRow{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-bottom: 10vh;
}

.aboutCol{
    width: 50%;
    height: 100%;
    
}
#paraPic1{
    background-image: url('pics/anthony-roberts-W_DCDWCL3Wo-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#paraPic2{
    background-image: url('pics/keyBoard.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
    
    margin: 0 15% 0 5%;
    width: 80%;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: left;
   
}

/*************************
    ! Skill Section
*************************/

.skills {

    background-color: #020230;
    margin-bottom: 10vh;

    justify-content: center;
    text-align: center;
    
}

.skillHeader {
    margin-top: 100px;
    text-align: center;
    font-size: 6vh;
    background-color: #6a859b;
    box-shadow: #01011a 5px 5px 5px 5px;
    margin-bottom: 100px;
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    padding: 20px;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-height: 70%;
    border: #748386 solid 2px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(172, 179, 214);
    max-width: 65%;
    overflow-y: scroll;
    
}

.languages {
    justify-self: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 3vh;
    margin-top: 12%;
}

.bi-code-square {
    font-size: 80px;
}
.bi-ubuntu {
    font-size: 80px;
}
.bi-shop-window {
    font-size: 80px;
}

.languageHead {
    text-decoration: underline;
}

ul.languageText {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    margin-top: 5vh;
    width: 50%;
    column-gap: 7rem;
    row-gap: 2rem;
    list-style-type:circle;
    align-self: center;
}

ul.serviceText {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: circle;
    margin: auto;
    margin-top: 5vh;
    width: 50%;
    column-gap: 7rem;
    row-gap: 2rem;    
}


/*************************
    ! Template Section
*************************/

.templates {
    padding-bottom:5vh ;
    background-color: #020230;
}

.templateHead {
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    font-size: 6vh;
    text-align: center;
    background-color: #6a859b;
    color: #01011a;
    padding: 1%;
    box-shadow: #000 10px 5px 5px;
    padding: 20px;
}
.templatePic{
    width: 100%;
    height: 100%;
}
#templatePicHusky{
    background-image: url("pics/petCover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.templateContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap:4vw;
    row-gap: 5vh;
}

.templateCard {
    width: 500px;
    height: 350px;
    border-radius: 4%;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(106, 133, 155, 1);
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    transition: 0.4s;
    border: #01011a 2px solid;
}
.templateTitle{
    padding-top: 4%; 
    padding-bottom: 4%;
    font-size: 4.15vh;
    text-align: center;
    border-bottom: #01011a 2px solid;
    
}
.templateCard:hover {
    background-color: #01011a;
    color:  #04D010;
    /* box-shadow: 2px 2px 5px 2px rgb(172, 179, 214); */
    filter: drop-shadow(15px 15px 2px rgba(255, 255, 255, .1));
    transform: scale(1.08);
    text-shadow: 2px 2px 3px 2px rgb(172, 179, 214);
}
.templateCard:active{
    box-shadow: none;
    transform: scale(1);
    filter: none;

}

.templateCard h2:hover {
    color:  #04D010;
    border: #000 2px solid;
    background-color: #01011a;
    text-shadow: 2px 2px 3px 2px rgb(172, 179, 214);
}

/* 
    Footer Section 
*/
footer{
    background-color: #01011a;
    padding: 1%;
}
.footerHead{
    text-align: center;
    margin-bottom: 2%;
    
    font-size: 3vh;
}

.socialLinks{
    display: flex;
transition: .6s;
    justify-content: center;
    padding: .5%;
    margin-bottom: 1%;
}

.bi-github {
    font-size: 6vh;
    color: white;
  transition: .2s;
   margin-left: 2%;
}
.bi-github:hover{
    padding: .5%;
    /* box-shadow: 3px 3px 5px 3px rgb(172, 179, 214); */
    filter: drop-shadow(15px 15px 2px rgb(90, 90, 90));
    transform: scale(1.15);
    border-radius: 30%;
}
.bi-github:active{
    padding: 0;
    box-shadow: none;
    transform: scale(1);
    border-radius: 0;
}

.bi-linkedin {
    color: white;
    transition: .2s;
    font-size: 6vh;
    
}
.bi-linkedin:hover{
    padding: .5%;
   /*  box-shadow: 3px 3px 5px 3px rgb(172, 179, 214); */
   filter: drop-shadow(15px 15px 2px rgb(90, 90, 90));
    transform: scale(1.15);
    border-radius: 30%;
}
.bi-linkedin:active{
    padding: 0;
    box-shadow: none;
    transform: scale(1);
    border-radius: 0;
}
.bi-twitter {
    color: white;
    margin-left: 2%;
    font-size: 6vh;
    transition: .2s;
}
.bi-twitter:hover{
   /*  padding: .5%;
    box-shadow: 3px 3px 5px 3px rgb(172, 179, 214);
    transform: scale(1.15);
    border-radius: 30%; */
}


/*
    ! Mobile Design Section
*/

@media screen and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: #020230;
        color: #b8baca;
        font-family: "Fira Code", monospace;
    }
    
    .nav {
        position: fixed;
        top: 0;
        transition: top 0.5s;
        background-color: rgba(106, 133, 155,.1);
        width: 100vw;
        font-size: 1rem;
    }
    .nav ul li {
        width: 24vw;
    }
    .nav a{
        text-align: center;
        padding: 0;
        
    }
    .profileHeading {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5vh;
        padding-bottom: 20vh;
        
    }
    .titleHeader {
      width: 100%;
     font-size: 2rem;
     
     box-shadow: #01011a 5px 5px 5px 5px;
        
    }
    .ProfTitle{
        font-size: 1.75rem;;
    }
    .Motto{
        font-size: 1.5rem;
    }
    .tagline {
        width: 100%;
        line-height: 8vh;
    }
    .pictureContainer {
        margin-top: 10vh;
        display:none;
    
    }
    .logo{
        margin: 0 auto;
        margin-top: 15vh;
        font-size: 15rem;
    }


    /*************************
   ! About Section
*************************/
.about{
    display: flex;
    
}
.aboutContentContainer{
    display: flex;
    flex-direction:column ;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.aboutPic {
    box-shadow: #b8baca 2px 2px 5px 2px;
    transition: .4s;
    width: 100%;

}
#aboutPic2{
    display: none;
}
#aboutPic1{
    display: block;
    margin-top: 0;
}

.bio {
    width: 90%;
    margin-left: 1%;
    text-align: left;
    margin-top: 15px;
    font-size: 3vh;
    line-height: 45px;
    font-weight: bold;
}
.bio2{
    width: 90%;
    margin-left: 1%;
    
    text-align: left;
    font-size: 3vh;
    line-height: 45px;
    font-weight: bold;
}

    /*************************
    ! Skill Section
*************************/

    .skills {
        height: 140vh;

    }

    .skillHeader {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2rem;
    }

    .skillContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: 100px;
        border: #748386 solid 2px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #000;
        max-width: 85%;
        margin: 0 auto;
    }

    .languages {
        justify-self: center;
        flex-wrap: wrap;
        text-align: center;
        font-size: 1rem;
        margin: 10px;
    }

    .bi-code-square {
        font-size: 4rem;
    }
    .bi-ubuntu {
        font-size: 4rem;
    }
    .bi-shop-window {
        font-size: 4rem;
    }

    .languageHead {
        text-decoration: underline;
    }

    ul.languageText {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-self: center;
    }

    ul.serviceText {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-self: center;
        text-align: center;
    }

    /*************************
    ! Template Section
*************************/

    .templates {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .templateHead {
        display: block;
        font-size: 1.25rem;
        margin: 0px;
        padding: 1rem;
        margin-top: 3rem;
    }

    .templateContainer {
        justify-content: center;
        row-gap: 3rem;
    }

    .templateCard {
        width: 300px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
    }
}
