/*************************
   Color Pallete
    #6a859b gray
    #020230 blue

*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    font-family: "Fira Code", monospace;
    font-weight: 300;
    width: 100%;
}

/**************************************************
***************************************************
                ! Heading Section
***************************************************
***************************************************/




/**************************************************
                ! Navigation Bar
***************************************************/
.nav {
    position: fixed;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    
    width: 100%;
    font-size: 25px;
    font-family: "Fira Code", monospace;
}
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}
.nav a:hover {
    color: #fff;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 10px 0px;
}
.nav a:visited {
    color: #fff;
    text-decoration: none;
}
.nav a:visited:hover {
    color: #000;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 30px 0px;
}
#navButtonBlog a:hover {
    color: #000;
    background-color: #fff;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border: 1px #fff solid;
    border-radius: 5px;
    width: 15vw;
    min-width: 150px;
    text-align: center;
    transition: 0.09s;
    font-weight: 400;
    box-shadow: inset rgb(255, 255, 255) 0px 0px 10px 0px;
    margin-left: 4vw;
}
.nav ul li:hover {
    background-color: #fff;
    color: #000;
    padding: 0;
    cursor: pointer;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 30px 0px;
}
.nav ul li:active {
    box-shadow: none;
    transform: scale(0.9);
    background-color: #000;
    color: #fff;
}

/**************************************************
                ! Title
***************************************************/

.profileHeadingGrid {
    margin-top: 10vh;
    display: grid;
    grid-auto-columns: auto, auto;
}
.titleHeaderCol {
    background-image: url("pics/header.jpg");
    background-attachment: fixed;
    background-position: center;
    color: #000000;
    text-shadow: rgb(97, 97, 97) 3px 3px 5px;
    font-size: 4rem;
    padding: 2rem;
    margin-top: 0rem;
    text-align: center;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

    /* z-index: -1; */
}

.tagline {
    color: #000;
    font-family: "Fira Code", monospace;
    line-height: 80px;
    font-size: 30px;
      text-shadow: 2px #fff;
}
.ProfTitle {
    width: 100%;
}
.Motto {
    width: 70%;
    margin: auto;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.logo a {
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
.logo {
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    margin-top: 1.25rem;
    background-color: #fff;
    width: 28vw;
    text-shadow: #000 1px 1px 4px;
    border: #363636 2px solid;
    font-size: 1rem;
    border-radius: 15px;
    transition: 0.5s;
    min-height: 9vh;
}
.logo:hover {
    background: linear-gradient(to bottom, #fff 0%, #000 100%);
}
.logo a:hover {
    color: #fff;
}
.bi-download {
    font-size: 2rem;
    color: #000;
}

/**************************************************
***************************************************
                 About Section
***************************************************
***************************************************/
.about {
    margin-bottom: 25vh;
}
.aHeader {
    margin-top: 30vh;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 4rem;
    background-color: #6a859b;
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    padding: 2rem;
    width: 100%;
    box-shadow: #000 10px 5px 5px;
}
.aboutRow {
    display: flex;
    height: 100vh;
    width: 100%;
}

.aboutCol {
    width: 50%;
    height: 100%;
}
#paraPic1 {
    background-image: url("pics/anthony-roberts-W_DCDWCL3Wo-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#paraPic2 {
    background-image: url("pics/motoMe.png");
    background-attachment: fixed;
    background-position:right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    margin-top: 10vh;
}
#aboutRowM {
    display: none;
    height: 150vh;
}
.aboutCol #bio2 {
    margin-top: 10vh;
}
.bio {
    margin: 0 15% 0 5%;
    width: 80%;
    line-height: 4vh;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: left;
}

/**************************************************
***************************************************
                 Skill Section
***************************************************
***************************************************/

.skills {
    margin-bottom: 10vh;
    justify-content: center;
    text-align: center;
}

.skillHeader {
    text-align: center;
    font-size: 3rem;
    background-color: #6a859b;
    box-shadow: #01011a 5px 5px 5px 5px;
    margin-bottom: 100px;
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    padding: 20px;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 60vh;
    border: #748386 solid 2px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 5px rgb(172, 179, 214);
    max-width: 85%;
    overflow-y: scroll;
    background-color: #020230;
}

.langLevelSection{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10vw;

}
.langLevelContainer{
    display: flex;
    width: 100%;
    margin-bottom: 5vh;
    flex-wrap: wrap;
    opacity: 0;
    
    
}
.languageHeader{
    text-align: left;
    margin-bottom: 5vh;
    font-size: 3rem;
}

.langLabel{
    width: 50%;
    text-align: left;
}
.langLevelValue{
    text-align: right;
    width: 50%;
}
.levelBar{
    width: 100%;
}
.langBarOuter{
    display: block;
    background-color: #6a859b;
    width: 100%;
    height: 2vh;
    border-radius: 10px;
}
.langBarInner{
    background-color: green;
    box-shadow: rgb(0, 63, 0) 5px 0px 5px;
    width: 0;
    height: 2vh;
    border-radius: 10px;
}

.languages {
    font-size: 3vh;
    margin-bottom: 10vh;
}

.techSkillHeader{
    text-align: left;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: underline;
    column-gap: 5vw;
}



.bi-code-square {
    font-size: 80px;
}
.bi-ubuntu {
    font-size: 80px;
}
.bi-shop-window {
    font-size: 80px;
}

.langListContainer{
    width: 75vw;
    
}
.langList {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5vw;
    column-gap: 1rem;
    text-align: left;
    column-gap: 5vw;

    list-style-type: circle;
    align-self: center;
}

ul.languageText {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    margin-top: 5vh;
    width: 50%;
    column-gap: 7rem;
    row-gap: 2rem;
    list-style-type: circle;
    align-self: center;
}

ul.serviceText {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: circle;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50%;
    column-gap: 7rem;
    row-gap: 2rem;

}

/**************************************************
***************************************************
                ! Template Section
***************************************************
***************************************************/

.templates {
    padding-bottom: 5vh;
}

.templateHead {
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    font-size: 3vh;
    text-align: center;
    background-color: #6a859b;
    color: #01011a;
    padding: 1%;
    box-shadow: #000 10px 5px 5px;
    padding: 20px;
}
.templatePic {
    width: 100%;
    height: 100%;
}
#templatePicHusky {
    background-image: url("pics/petCover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.templateContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4vw;
    row-gap: 5vh;
}

.templateCard {
    width: 500px;
    height: 350px;
    border-radius: 4%;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(106, 133, 155, 1);
    color: #000000;
    text-shadow: #444849 3px 3px 5px;
    transition: 0.4s;
    border: #01011a 2px solid;
}
.templateTitle {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 4.15vh;
    text-align: center;
    border-bottom: #01011a 2px solid;
}
.templateCard:hover {
    background-color: #01011a;
    color: #fff;
    /* box-shadow: 2px 2px 5px 2px rgb(172, 179, 214); */
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.6));
    transform: scale(1.08);
    text-shadow: 2px 2px 5px 2px rgb(172, 179, 214);
}
.templateCard:active {
    box-shadow: none;
    transform: scale(1);
    filter: none;
}

.templateCard h2:hover {
    color: #fff;
    background-color: #01011a;
    text-shadow: 2px 2px 3px 2px rgb(172, 179, 214);
}

/* 
    Footer Section 
*/
footer {
    background-color: #6a859b;
    color: #01011a;
    padding: 1%;
}
.footerHead {
    text-align: center;
    margin-bottom: 2%;

    font-size: 3vh;
}

.socialLinks {
    display: flex;
    justify-content: center;
}

.bi-github {
    font-size: 6vh;
    color: #01011a;
    transition: 0.09s;
    margin-left: 2%;
}
.bi-github:hover {
    padding: 0.5%;
    color: #fff;
    filter: drop-shadow(15px 15px 2px rgb(0, 0, 0));
    transform: scale(1.15);
    border-radius: 30%;
    transform: translateY(-2vh);
}
.bi-github:active {
    padding: 0;
    filter: none;
    transform: scale(1);
    border-radius: 0;
}

.bi-linkedin {
    color: #01011a;
    transition: 0.09s;
    font-size: 6vh;
}
.bi-linkedin:hover {
    color: #fff;
    padding: 0.5%;
    filter: drop-shadow(15px 15px 2px rgb(0, 0, 0));
    transform: scale(1.15);
    transform: translateY(-2vh);
    border-radius: 30%;
}
.bi-linkedin:active {
    padding: 0;
    filter: none;
    transform: scale(1);
    border-radius: 0;
}
.bi-twitter {
    color: #01011a;
    margin-left: 2%;
    font-size: 6vh;
    transition: 0.2s;
}
.bi-twitter:hover {
    color: #fff;
    padding: 0.5%;
    filter: drop-shadow(15px 15px 2px rgb(0, 0, 0));
    transform: scale(1.15);
    transform: translateY(-2vh);
    border-radius: 30%;
}
.bi-twitter:active {
    padding: 0;
    filter: none;
    transform: scale(1);
    border-radius: 0;
}

.bi-envelope{
    color: #01011a;
    margin-left: 2%;
    font-size: 6vh;
    transition: 0.2s;
}
.bi-envelope:hover {
    color: #fff;
    padding: 0.5%;
    filter: drop-shadow(15px 15px 2px rgb(0, 0, 0));
    transform: scale(1.15);
    transform: translateY(-2vh);
    border-radius: 30%;
}
.bi-envelope:active {
    padding: 0;
    filter: none;
    transform: scale(1);
    border-radius: 0;
}
/********************************************************
*********************************************************
*********************************************************
                ! Mobile Design Section
*********************************************************
*********************************************************
*********************************************************/

@media screen and (max-width: 850px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .nav {
        position: fixed;
        top: 0;
        transition: top 0.5s;
        width: 100vw;
        font-size: 0.85rem;
    }
    .nav ul li {
        max-width: 25vw;
        min-width: 22vw;
    }
    .nav a {
        text-align: center;
        padding: 0;
    }
    .titleHeaderCol {
        background-image: url("pics/header.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: none;
        color: #000000;
        text-shadow: rgb(97, 97, 97) 3px 3px 5px;
        font-size: 2.5rem;
        padding: 2rem;
        text-align: center;

        /* z-index: -1; */
    }
    .profileHeadingGrid {
        margin-top: 0;
        height: 60vh;
    }
    .heading {
        margin-top: 1.5rem;
    }
    .ProfTitle {
        font-size: 1.5rem;
    }
    .Motto {
        font-size: 1rem;
        line-height: 3rem;
        width: 100%;
    }
    .tagline {
        width: 100%;
        line-height: 8vh;
    }
    .logo {
        width: 50vw;
        height: 10vh;
    }

    /*************************
   ! About Section
*************************/

    .aHeader {
        margin-top: 45vh;
        margin-bottom: 10vh;
        text-align: center;
        font-size: 2.5rem;
        background-color: #6a859b;
        color: #000000;
        text-shadow: #444849 3px 3px 5px;
        padding: 2rem;
        width: 100%;
        box-shadow: #000 10px 5px 5px;
    }
    .aboutRow {
        display: flex;
        flex-direction: column;
        height: 150vh;
        width: 100%;
    }

    .aboutCol {
        width: 100%;
        height: 100%;
    }
    #aboutRowF {
        display: none;
    }
    #aboutRowM {
        display: flex;
    }

    #paraPic1 {
        background-image: url("pics/anthony-roberts-W_DCDWCL3Wo-unsplash.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #paraPic2 {
        background-image: url("pics/motoMe.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #paraPic3 {
        background-image: url("pics/motoMe.png");
        background-attachment: fixed;
        background-position: 10%;
        padding-top:10vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bio {
        margin: 0 15% 0 5%;
        width: 98%;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
    }

    /*************************
    ! Skill Section
*************************/

    .skills {
        overflow-y: scroll;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .skillHeader {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .skillHeaderC {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
    .skillContainer {
        max-width: 98%;
        height: 100vh;
    }

    .bi-code-square {
        font-size: 4rem;
    }
    .bi-ubuntu {
        font-size: 4rem;
    }
    .bi-shop-window {
        font-size: 4rem;
    }
    .lanuages {
        margin-bottom: 40vh;
    }
    .languageHead {
        text-decoration: underline;
        font-size: 2.25rem;
    }

    ul.languageText {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        column-gap: 4rem;
        row-gap: 2rem;
        list-style-type: circle;
        margin-top:1vh ;
        text-align: left;
    }
    .langList {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 2rem;
        row-gap: 2rem;
        list-style-type: circle;
        text-align: left;
        width: 100%;
        margin-top:1vh ;

        
    }

    ul.serviceText {
        display: grid;
        grid-template-columns: auto auto;
        list-style-type: circle;
        width: 100%;
        margin-top: 1vh;
        column-gap: 2rem;
        row-gap: 2rem;
        text-align: left;
    }

    /*************************
    ! Template Section
*************************/

    .templates {
        display: flex;
        flex-direction: column;
    }

    .templateHead {
        display: block;
        font-size: 1.5rem;
        margin: 0px;
        padding: 2rem;
        margin-top: 3rem;
    }

    .templateContainer {
        justify-content: center;
        row-gap: 3rem;
    }
    .templateTitle {
        font-size: 2rem;
    }

    .templateCard {
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        overflow: hidden;
    }
}
