/*************************
   Color Pallete
    #7F4F24
    #333D29
    #C2C5AA
 

*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #B6AD90;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mainHeading{
    background-color: #333D29 ;
    color: #C2C5AA;
    width: 100%;
    position: relative;
    margin-top: 5%;
}

.nav {
    position: fixed;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #B6AD90;
    width: 30%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .6s;
    border-radius: 2%;
    /* box-shadow: #333D29 1px 1px 2px; */
    
}
.nav:hover{
    box-shadow: #333D29 1px 1px 2px;
}
.nav a{
    text-decoration: none;
    color: #333D29;
    
}
.nav a:hover{
    color: #333D29;
    
}
.nav a:visited{
    color: #020230;
    text-decoration: none;
}
.nav a:visited:hover{
    color: #333D29;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    background-color: #B6AD90;
    color: #333D29;
    padding: 10px;
    border-radius: 20%;
    
    text-align: center;
    text-decoration: overline;
    transition: .1s;
    font-weight: 400;
}
.nav ul li:hover {
    background-color: #B6AD90;
    color: #333D29;
    /* transform-origin: 300% -20%;
        transform: rotate(-.5deg); */
    cursor: pointer;
    transform: scale(1.20);
}
.nav ul li:active{
    box-shadow: none;
    transform: scale(.95);
   /*  background-color: #333D29; */
    color: #C2C5AA;
    
}

a{
    text-decoration: none;
}

.cardHeader{
    font-size: 30px;
    font-weight: 10;
}

.blogCard{
   
    background-color: white;
    padding: 2rem;
    margin-top: 2vh;
    border: solid 2px black;
    max-width: 40vh;
    margin-left: 2.5vh;
    margin-bottom: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.blogCard img{
    width: 35vh;
    height: 20vh;
    align-self: center;
}

.cardHeader{
    margin-bottom:2vh;
}

.blogTagLine{
    padding: 1vh;
    font-size: 20px;
    margin-left: -10px;
}

.videoC{
    display: block;
    text-align: center;
    width: 100%;
}
.video{
   margin-top: 25vh;
    justify-content: center;
    width: 50vw;
    height: 40vh;
}
   
