/*************************
   Color Pallete
    #7F4F24
    #333D29
    #C2C5AA
 

*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #B6AD90;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.mainHeading{
    background-color: #333D29 ;
    color: #C2C5AA;
    width: 100%;
    position: relative;
    margin-top: 5%;
    padding: 2%;
    
}
.mainHeader{
    text-shadow:  0px 0px 20px #000;
}

.nav {
    position: fixed;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #B6AD90;
    width: 60%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .6s;
    border-radius: 2%;
    /* box-shadow: #333D29 1px 1px 2px; */
    
}
.nav a{
    text-decoration: none;
    color: #333D29;
    
}
.nav a:hover{
    color: #333D29;
    
}
.nav a:visited{
    color: #020230;
    text-decoration: none;
}
.nav a:visited:hover{
    color: #333D29;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    background-color: #B6AD90;
    color: #333D29;
    padding: 10px;
    border-radius: 20%;
    
    text-align: center;
    text-decoration: overline;
    transition: .1s;
    font-weight: 400;
}
.nav ul li:hover {
    background-color: #B6AD90;
    color: #333D29;
    /* transform-origin: 300% -20%;
        transform: rotate(-.5deg); */
    cursor: pointer;
    transform: scale(1.20);
}
.nav ul li:active{
    box-shadow: none;
    transform: scale(.95);
   /*  background-color: #333D29; */
    color: #C2C5AA;
    
}

a{
    text-decoration: none;
}

.cardHeader{
    font-size: 30px;
    font-weight: 10;
}
.mList{
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
}

.blogCard{
   
    background-color: #333D29 ;
    color: #C2C5AA;
    padding: 2rem;
    margin-top: 2vh;
    border: solid 2px black;
    max-width: 20vw;
    margin-left: 2.5vh;
    margin-bottom: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    /*filter: drop-shadow(5px 2px 4px rgb(110, 110, 110)); */
    box-shadow: #000 0px 0px 10px 0px inset;
    transition: .1s
}
.blogCard:hover{
    transform: scale(.99);
    box-shadow: #000 0px 0px 30px 0px inset;
    ;
}
.blogCard:active{
    transform: scale(.98);
    box-shadow: #000 0px 0px 60px 0px inset;
    
}

.blogCard img{
    width: 100%;
    height: 20vh;
    align-self: center;
}

.cardHeader{
    margin-bottom:2vh;
}

.blogTagLine{
    padding: 1vh;
    font-size: 20px;
    margin-left: -10px;
}

.videoC{
    display: block;
    text-align: center;
    width: 100%;
}
.video{
   margin-top: 15vh;
    justify-content: center;
    width: 60vw;
    height: 80vh;
}
.articalHeader{
    margin-top: 4vh;
    font-size: 2rem;
   font-family: "Fira Code";
   font-weight: 500;
   background-color: #333D29;
    padding: 2rem;
   }
.description{
    width: 60%;
    margin: auto;
   margin-bottom: 5vh;
   margin-top: 3vh;
   line-height: 3rem;
}
@media screen and (max-width: 800px) {
   .mList{
    display: flex;
    margin-top: 10vh;
    
   }
   .blogCard{
    width: 90vw;
    margin: auto;
   }
   .nav{
    flex-direction: row;
    width: 100%;
    font-size: 1.40rem;
   }
   .videoC{
    width: 100%;
    height: 50vh;
   }
   .video{
    width: 100%;
    height: 100%;
    margin-top: 2vh;
   }
 
   .mainHeading{
    margin-top: 10vh;
    width: 100%;
    
   }
   .articalHeader{
    margin-top: 2vh;
    font-size: 2rem;
   }
   .description{
    width: 95%;
    margin: auto;
    margin-top: 5vh;
   }
}
