

/* Global Styles---- */
body{
    color: black;
}

img{
        width: 300px;
    }

a{
    color: greenyellow
}
a:hover{
    background: black;
    padding: 10px;
    color: white;
    text-decoration: none;

}

/* Profile---- */

header{
    background: lightgray;
    color: black;
}

/* Projects---- */

/* Work Experience---- */