*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    text-align: center;
   
}

/*
    ! Navbar Section 
*/

.navBar{
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: rgb(221, 221, 221); 
    box-shadow: 5px 5px 10px black;
    display: block;
    z-index: 1;
    
    
}
.navBar a{
    text-decoration: none;
}

.active{
    background-color: blue;
}

.navButton{
    margin-right: 1rem;
    float: left;
    padding: 10px;
    
}

.navButton:hover{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.collapseNavButton{
    float: right;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: bolder;
    font-size: .85rem;
    cursor: pointer;
}
.collapseNavButton:hover{
    background-color: black;
    color: white;
}

.showNav{
    top: 0;
    right: 0;
    position: fixed;
    padding: 15px;
    display: none;
    z-index: 1;
    
    
}
.showNavButton{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: bolder;
    font-size: .85rem;
    cursor: pointer;
}
.showNavButton:hover{
    background-color: black;
    color: white;
}

/*
    ! Top Header Section 
*/

.headingSection{
    background-image: url("pics/codeBG.jpg");
    background-size: cover;
    padding: 15px;
    position: relative;
    height: 1000px;
    overflow: hidden;
   
}

.header{
    left: 0;
    background-color: black;
    color: aliceblue;
    opacity: .92;
    padding: 20px;
    top:25%;
    width:100%;
    height:25rem;
    position: absolute;
}

.heading{
    text-align: center;
    position: relative;
    opacity: 1;
    margin-top: 5%;
    font-size: 4rem;
    
}

.subHeading{
    text-align: center;
    position: relative;
    opacity: 1;
    font-size: 2rem;
    
}



.book{
    margin-top: 2.5rem;
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 25px;
    border: solid 2px white;
    transition-property: color, background, border-color;
    transition-duration: .5s;
    
    
}


.book:hover{
    background-color: green;
    color: black;
}




/*
    ! About Me Section
*/

.about{
    margin: 0 auto;
    padding: 5rem;
    background-color: rgb(221, 221, 221);
    height: 1200px;
    
}

.imgContainer{
    margin-top: 125px;
}

.aboutHeader{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    font-size: 4rem;
}

.aboutMe{
    margin-top: 50px;
    margin: 0 auto;
    margin-bottom:100px;
    text-align: justify;
    font-size: 2rem;
    display: block;
    width: 800px;
    

}

.profilePic{
    border-radius: 15px;
    position: relative;
    
}

/*
    ! Services Section 
*/

.serviceCard{
    display: flex;
    border: 2px solid white;
    padding: 40px;
    flex-direction: column;
    justify-content: center;

    margin: 30px;
}

.services{
    background-color: black;
    color: white;
    height: 1500px;
}

.repairHeader{
    margin-top: 2.25rem;;
    align-items: center;
    font-size: 2.25rem;

}

.repair{
    font-size: 2rem;
    margin-top: .5rem;
    padding: 20px;
    text-align: justify;
    max-width: 100%;
}

.installHeader{
    margin-top: 2.25rem;
    align-items: center;
    font-size: 2.25rem;
}

.install{
    margin-top: .5rem;
    padding: 20px;
    font-size: 2rem;
    text-align: justify;
   
    
}


/*
    ! Contact Section 
*/

.contact{
    height: 1200px;
    background-color: rgb(221, 221, 221);
}

.contactCard{
    box-shadow: 5px 5px 10px black;
    width: 400px;
    margin: auto;

    padding: 70px 20px;
   
}


.formHeader{
    margin-bottom: 80px;
    font-size: 2.75rem;
}

.contact ul{
    list-style-type: none;
    margin-top: 1rem;
}
form label{
    display: block;
    margin-top: 2rem;
    font-size: 1.25rem;
}
form #submit{
    display: block;
    margin: auto;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem;
    width: 8rem;
    height:3.5rem; 
    font-size: 1.25rem;
    border-radius: 4rem;
    background-color: aqua;
    
}

input{
    border-color: black;
}
input:invalid{
    border-color: red;
}


@media screen and (max-width: 430px ) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   
    /*
    ! Navbar Section 
    */

    .navBar{
        width: 100vh;
    }
    .navButton{
        margin-left: 0px;
        padding: 4px;
    }
    .navButton:hover{
        padding: 4px;
    }
    .collapseNavButton{
        display: none;
    }

    /*
    ! Top Header Section 
    */
    .headingSection{
        height: 900px;
    }


    .header{
        height: 400px;
    }
    .heading{
        font-size: 2.5rem;
    }
    .subHeading{
        font-size: 1.5rem;
    }

    /*
    ! About Me Section 
    */

    .about{
        height: 1200px;
        width: 100%;
        padding: 50px;
    }

    .imgContainer{
        width: 200px;
        height: 300px;
        margin-top: 25px;
        margin: 0 auto;
    }
    .profilePic{
        width: 100%;
        height: 100%;
    }
    .aboutHeader{
        width: 100%;
        font-size: 32px;
    }
    .aboutMe{
        font-size: 18px;
        text-align: left;
        width: 100%;
    }

    /*
    ! Services Section 
    */

    .services{
        width: 100%;
        padding: 5px;
        height: 850px;
    }
    .serviceCard{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 100px;
        padding: 0px;
        
    }

    .repairHeader{
        margin-top: 10px;
        font-size: 20px;
        text-align: justify;
        margin: 0 auto;
    }
    .repair{
        font-size: 16px;
        text-align: left;
    }
    .installHeader{
        margin-top: 10px;
        font-size: 20px;
    }
    
    .install{
        font-size: 16px;
        text-align: left;
    }

    /*
    ! Contact Section 
    */

    .contact{
        height: 900px;
       padding: 20px;
        
    }
    .contactCard{
        box-shadow: 5px 5px 10px black;
        width: 250px;
        display: block;
        margin-top: 100px;
      
        
        
       
    }
    
    .formHeader{
        margin-bottom: 40px;
        font-size: 24px;
    }
    
    .contact ul{
        list-style-type: none;
        margin-top: 1rem;
    }
    form label{
        display: block;
        margin-top: 2rem;
        font-size: 14px;
    }
    form #submit{
        display: block;
        margin: auto;
        margin-top: 1rem;
        cursor: pointer;
        padding: 1rem;
        width: 8rem;
        height:3.5rem; 
        font-size: 1.25rem;
        border-radius: 4rem;
        background-color: aqua;
        
    }

    .github{
        height: 50px;
        width: 50px;
        color: black;
        margin-top: 100px ;
    }

    .bi-linkedin{
        color: blue;
        margin-left: 25px ;
        font-size: 50px;
    }
    
}
