/*************************
  ? Color Pallete

    #0A2E36 Gunmetal
    #3B0D11 Dark Sienna
    #D7FDF0 Aero Blue
    #748386 Slate Gray
    #B2FFD6 Magic Mint 

*************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #020230;
    color: #b8baca;
    font-family: Arial, Helvetica, sans-serif;
}

/*************************
    Heading Section
*************************/

.nav{
    position: fixed;
    top: 0;
    padding: 0px;
    background-color: #6a859b;
    width: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #000 5px 5px 5px;
    border: #000 2px solid;
    
}
    .nav ul  li{
        list-style-type: none;
        display: inline-block;
        background-color:#6a859b ;
        color: #020230;
        padding: 10px;
        border-radius: 5%;
        width: 155px;
        text-align: center;
        transition: .4s;
        font-weight: 400;
       
    }
    .nav ul  li:hover{
        background-color: #020230;
        color: #6a859b;
        /* transform-origin: 300% -20%;
        transform: rotate(-.5deg); */
        cursor: pointer;
        border: solid #6a859b 2px;
        box-shadow: rgb(20, 20, 20) 3px 0px 5px 2px;
    }


.profileHeading{
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto;
    column-gap: 4rem;
        
       
}
.titleHeader{
    color: #01011a;
    font-size: 60px;
    margin-left: 550px;
    margin-top: 20px;
}

.tagline{
    color: #01011a;
    margin-left: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 80px;
    font-size: 30px;
    
}

.pictureContainer{
    display: flex;
    align-self: flex-start;
    margin-top: -272px;
    margin-left: 25px;
    background-color: #6a859b;
    border-radius: 10px;
    padding: 30px;
    max-width: 360px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651);

}
.profilePicture{
    height: 500px;
    width: 300px;
    border-radius: 10px;
   /*  border: #000 2px solid; */
    box-shadow: rgb(44, 44, 44) 2px 2px 2px 2px;
}

.color{
    z-index: -1;
    position: absolute;
    
}

/*************************
   ! About Section
*************************/

.about{
    display: block;
    flex-wrap: wrap;
    flex-direction:column ;
    
    align-items: center;
    height: 1000px;
    background-color:#020230;
    margin-top: 300px;
}

.aHeader{
    margin-top: 550px;
    text-align: center;
    font-size: 60px;
    background-color: #6a859b;
    color: #01011a;
    padding: 15px;
    width: 100%;
}

.bio{
    display: block;
    text-align: center;
   margin: 0 auto;
    margin-top: 100px;
    width: 900px;
    font-size: 24px;
    line-height: 45px;
    font-weight: bold;
}


/*************************
    ! Skill Section
*************************/


.skills{
    height: 1200px;
    background-color: #020230;
}

.skillHeader{
    margin-top: 100px;
    text-align: center;
    font-size: 6vh;
   
}

.skillContainer{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 100px;
    border: #748386 solid 2px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(172, 179, 214);
    max-width: 85%;
    margin: 0 auto;
    overflow: hidden
    
}

.languages{
    justify-self: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 35px;
    margin: 10px;
    
    
}

.bi-code-square{
    font-size: 80px;
}
.bi-ubuntu{
    font-size: 80px;
}
.bi-shop-window{
    font-size: 80px;
}

.languageHead{
    text-decoration: underline;
}

ul.languageText{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: center;
}

ul.serviceText{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: center;
    text-align: justify;
}


/*************************
    ! Template Section
*************************/


.templates{
    height: 1000px;
    background-color: #020230;
    
}

.templateHead{
    padding: 100px;
    font-size: 40px;
    text-align: center;
}



.templateContainer{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
   
    
}

.templateCard{
    width: 300px;
    height: 150px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    background-color: #6a859b;
    color: #01011a;
    transition: .4s;
    
}
.templateCard:hover{
    background-color: #01011a;
    color: #6a859b;
    box-shadow:1px 1px 5px 1px rgb(172, 179, 214);
}
.templateCard h2:hover{
    color: #6a859b;
    background-color: #01011a;
}


/*
    ! Mobile Design Section
*/

@media screen and (max-width: 430px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .profileHeading{
        margin-top: 90px;
        display: grid;
        grid-template-columns: auto;
        row-gap: 4vh;
    }
    .nav{
        position: fixed;
        top: 0;
        transition: top .5s;
        padding: 20px;
        background-color: #3B0D11;
        width: 100vh;
        font-size: 1rem;
        font-family: 'Rock Salt', cursive;
        box-shadow: #000 5px 5px 5px;
    }
        .nav ul  li{
            list-style-type: none;
            display: inline-block;
            padding-right: 15px;
            margin-left: 10px;
        }
    
    .titleHeader{
        font-size: 2rem;
        margin-left: 1vh;
        margin-top: 20px;
        text-align: center;
        
    }
    
    .tagline{
        margin-left: 1vh;
        text-align: center;
        font-family: 'Aboreto', cursive;
        font-size: 1.25rem;
        margin-bottom: 15vh;
        
    }

    .pictureContainer{
        background-color: #748386;
        border-radius: 10px;
        box-shadow: 5px 5px rgba(24, 24, 24, 0.651);
        max-width: 75%;
        padding-right: 0px;
        margin: 0 auto;
    
    }

    .profilePicture{
        height: 90%;
        width: 90%;
        border-radius: 10px;
        align-self: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .color{
    z-index: -1;
    position: absolute;
    width: 46.2vh;
    height: 100vh;
}

/*************************
   ! About Section
*************************/

.about{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
   
    
}

.aHeader{
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
}

.bio{
    margin-top:0 ;
    font-family: 'Aboreto';
    font-size: 1rem;
    font-family: sans-serif;
    width: 100%;
    padding: 1rem;
}

/*************************
    ! Skill Section
*************************/


.skills{
    height: 180vh;
    background-color: #0A2E36;
}

.skillHeader{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
   
}

.skillContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin-top: 100px;
    border: #748386 solid 2px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    max-width: 85%;
    margin: 0 auto;
    
}

.languages{
    justify-self: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    
    
}

.bi-code-square{
    
    font-size: 4rem;
}
.bi-ubuntu{
    
    font-size: 4rem;
}
.bi-shop-window{
    font-size: 4rem;
}

.languageHead{
    text-decoration: underline;
}

ul.languageText{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: center;
}

ul.serviceText{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-self: center;
    text-align: center;
    
}

/*************************
    ! Template Section
*************************/


.templates{
    height: 120vh;
    background-color: #3B0D11;
    display: flex;
    flex-direction: column;
}

.templateHead{
    display: block;
    font-size: 1.25rem;
    margin: 0px;
    padding: 1rem;
    margin-top: 3rem;
}

.templateContainer{
    justify-content: center;
    row-gap: 3rem;
}

.templateCard{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    
}




}
